section {
    background-color: lightblue;

}





.walls {

    background-color: rgb(79, 66, 219);
    height: 150px;
    width: 150px;

}

.smalldick {
    background-color: blueviolet;
    height: 150px;
    width: 150px;
}

.door1 {
    background-color: rgb(204, 24, 24);
    height: 50px;
    width: 50px;
}

.door2 {
    background-color: yellow;
    height: 50px;
    width: 50px;
}